.toggleable {
    pointer-events: none;
    visibility: hidden;
    &.active {
        pointer-events: auto;
        visibility: visible;
    }
}

.selectable {
    cursor: pointer;
    &.selected {
        cursor: auto;
    }
}